@model Admin.UI.Areas.User.Models.User

<div ng-controller="userCntrl" class="divForm">
    <form name="registerForm" novalidate>
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Employee</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field form-group">
                <input type="text" ng-model="userName" name="userName" ng-required="true" />
                <p ng-show="registerForm.userName.$error.required && !registerForm.userName.$pristine" class=" error">User Name Required</p>

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field form-group">
                <input type="text" ng-model="password" name="password" />

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SecurityQuestion)
            </div>
            <div class="editor-field form-group">
                <input type="text" ng-model="SecurityQuestion" name="SecurityQuestion" ng-required="true" />
                <p ng-show="registerForm.SecurityQuestion.$error.required && !registerForm.SecurityQuestion.$pristine" class="error">Security Question Required</p>
                    
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SecurityAnswer)
            </div>
            <div class="editor-field form-group">
                <input type="text" ng-model="SecurityAnswer" name="SecurityAnswer" ng-required="true" />
                <p ng-show="registerForm.SecurityAnswer.$error.required && !registerForm.SecurityAnswer.$pristine" class="error">Age Required</p>
                    
            </div>

            <p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </p>
        </fieldset>
    </form>
</div>
<script src="/assets/js/angular.js"></script>
<script src="/assets/js/uController.js"></script>